body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #01161F;
  color: white;
}

header {
  background-color: #90D1CA;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: right;
  padding: 1rem 1rem;
  background: linear-gradient(135deg, #01161F, #124559);
  color: white;
  font-size: 1rem;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 600px; 
  position: relative; 
}
.header-greeting {
  display: flex; 
  align-items: center; 
  gap: 15px; 
  margin-bottom: 1rem;
  font-size: 1.8rem; 
  color: #AEC3B0; 
  font-weight: 600; 
}

.greeting-text {
    margin: 0; 
}

.cat-greeting-icon {
  width: 50px; 
  height: 50px; 
  object-fit: contain; 
  animation: wave 1.5s infinite alternate ease-in-out; 
}

@keyframes wave {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.profile-photo {
  width: 150px;
  height: 150px;
  margin: 0 auto 1rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  animation: float 3s ease-in-out infinite;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.about-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #01161F;
  flex-wrap: wrap;
}

nav {
  margin-top: 1rem; 
}

nav a {
  margin: 0 1rem; 
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgba(144, 209, 202, 0.2);
  text-decoration: none;
}
.cv-link {
  background: linear-gradient(to right, #E76F51, #F4A261, #E9C46A, #2A9D8F, #264653, #4b0082, #9400d3); 
  background-size: 200% auto;
  color: #fff; 
  font-weight: bold; 
  padding: 0.8rem 1.8rem; 
  border-radius: 25px; 
  border: none; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
  margin-left: 1.5rem; 
  text-transform: uppercase; 
  letter-spacing: 0.5px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  animation: rainbow-button-animation 8s linear infinite;
}
@keyframes rainbow-button-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%; 
  }
}

.cv-link:hover {
  animation-play-state: paused;
 
  transform: translateY(-3px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}


.creative-about-section {
  padding: 3rem 2rem;
  background-color: #01161F;
  text-align: center;
}

.creative-about-section h2 {
  color: #E0FBFC;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; 
  width: 100%; 
}

.intro-photo.circular {
  border-radius: 5%; 
  background: white;
  padding: 1rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 200px;
  transform: rotate(-2deg);
}

.intro-card h3 {
  color: #01161F;
  margin-bottom: 0.5rem;
  
}

.intro-card p {
  font-size: 1.8rem;
  font-weight: bold;
  color: #01161F;
  margin-top: 0; 
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about-card {
  background: #124559;
  border-radius: 15px;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
  text-align: left;
  position: relative; 
  width: 80%;
  height: 80%;
  background: linear-gradient(90deg, #01161F, #124559);
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.about-card p,
.about-card ul {
  color: #E0FBFC;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 2;
}

.about-card ul {
  list-style: none;
}

.about-card ul li:before {
  content: "• ";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.intro-card {
  background: #01161F;
  color: #90D1CA;
  text-align: center;
  grid-column: span 1; 
}

.intro-card h3 {
  color: #90D1CA;
}

.intro-card p {
  font-size: 1.8rem;
  font-weight: bold;
  color: #90D1CA;
}
.cake {
  width: 50%;
  position: relative;
  bottom: -1rem;
  right: -0.2rem;
  animation: pulse 1s infinite alternate;
}

.birthday-card {
  text-align: center;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(90deg, #01161F, #124559);
}

.birthday-card h3 {
  margin-bottom: 0.2rem;
}

.birthday-card p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.about-card .favorites-card {
  background: linear-gradient(90deg, #01161F, #124559);

}

.color-splash {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0.5rem auto 1rem;
  border: 2px solid #E0FBFC;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.project {
  background: #01161F;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.projects-section {
  padding: 4rem 2rem;
  background-color: #01161F;
  overflow-x: hidden;
}

.projects-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #E0FBFC;
  font-weight: 600;
}

.projects-grid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.project-card {
  background: #01161F;
  border-radius: 20px;
  padding: 2rem;
  border: 2px solid #124559;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;   
  text-align: center; 
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.project-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #EFF6E0;
}

.project-description {
  font-size: 1rem;
  color: #E0FBFC;
  line-height: 1.6;
}

.link {
  color: #E0FBFC;
}
.link {
  color: #E0FBFC; 
  text-decoration: none; 
  padding: 0.7rem 1.5rem; 
  border-radius: 8px; 
  display: inline-block; 
  margin-top: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
}

.link:hover {
  background-color: #124559; 
  color: white; 
  border-color: #124559;
}

#tecnologias {
  margin-top: 10rem;
  text-align: center;
  font-size: 1.2rem;
  color: #E0FBFC;
}

.technology {
  background: white;
  color: black;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 120px;
  text-align: center;
  transition: transform 0.3s;
}

.skills-section {
  align-items: center;
  text-align: center;
  color: White;
  background-color: #01161F;
  padding: 5rem;
}

.skills-section h2 {
  font-size: 2rem;
}

.skills-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.skill {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.skill:hover {
  transform: scale(1.1);
}

.skill img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.skill p {
  margin: 0;
  font-size: 1rem;
}

.contacto-especial {
  background: linear-gradient(to right, #01161F, #01161F);
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
}

.contacto-especial h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
  color: #E0FBFC;
}

.contacto-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: #01161F;
  border-radius: 20px;
  padding: 2rem;
  width: 250px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card p {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #fff;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-size: cover;
}

.phone-icon {
  background-image: url('https://cdn-icons-png.flaticon.com/512/159/159832.png');
  animation: vibrar 0.8s infinite ease-in-out;
}

@keyframes vibrar {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.mail-icon {
  background-image: url('https://cdn-icons-png.flaticon.com/512/732/732200.png');
  animation: flotar 2s ease-in-out infinite;
}

@keyframes flotar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

footer {
  background-color: #01161F;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}